@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Vipnagorgialla-Regular';
  src: url('fonts/Vipnagorgialla.otf') format('opentype');
}

.separator {
  width: 100%;
  height: 5000px;
  background: linear-gradient(white, black);
}

.hidden {
	color: black;
}

.agreement {
  width: 100%;
  height: auto;
  padding: 150% 2% 2% 2%;
  background-color: black;
  font-family: "Jetbrains Mono", sans-serif;
  color: lime;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.underline {
  text-decoration: underline;
}

.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.memo-pad {
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 622px;
  height: 836px;
  position: relative;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.month-circle {
  border-radius: 50%;
  border-style: solid;
  border-color: #ce2828;
  border-width: 1px;
  flex-shrink: 0;
  width: 59px;
  height: 20px;
  position: absolute;
  left: 73px;
  top: 135px;
}
.date-circle {
  border-radius: 50%;
  border-style: solid;
  border-color: #ce2828;
  border-width: 1px;
  flex-shrink: 0;
  width: 16px;
  height: 20px;
  position: absolute;
  left: 248px;
  top: 157px;
}
.header {
  padding: 0px 34px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2 {
  background: #000000;
  flex-shrink: 0;
  width: 159px;
  height: 128px;
  position: relative;
}
.ioi-logo {
  background: #000000;
  padding: 28px 32px 28px 32px;
  width: 125px;
  height: 94px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 17px;
}
.rectangle-2 {
  background: #e1e1e1;
  border-radius: 13px;
  width: 9.87%;
  height: 74.75%;
  position: absolute;
  right: 84.06%;
  left: 6.07%;
  bottom: 18.18%;
  top: 7.07%;
}
.rectangle-4 {
  background: #e1e1e1;
  border-radius: 13px;
  width: 55.22%;
  height: 74.75%;
  position: absolute;
  right: 22.39%;
  left: 22.39%;
  bottom: 18.18%;
  top: 7.07%;
}
.rectangle-5 {
  background: #e1e1e1;
  border-radius: 13px;
  width: 9.87%;
  height: 74.75%;
  position: absolute;
  right: 6.07%;
  left: 84.06%;
  bottom: 18.18%;
  top: 7.07%;
}
.innovative-online-industries {
  color: #ffffff;
  text-align: center;
  font-family: "Vipnagorgialla-Regular", sans-serif;
  font-size: 5.925000190734863px;
  font-weight: 400;
  position: absolute;
  right: 6.07%;
  left: 6.07%;
  width: 87.86%;
  bottom: 8.21%;
  top: 84.34%;
  height: 7.45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-3 {
  background: #000000;
  border-radius: 8px;
  width: 35.48%;
  height: 47.98%;
  position: absolute;
  right: 32.26%;
  left: 32.26%;
  bottom: 30.56%;
  top: 21.46%;
}
.online-memo-pad {
  color: #000000;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 36px;
  font-weight: 500;
  position: relative;
  flex: 1;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.day-month {
  padding: 0px 34px 0px 34px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.month {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.january {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.february {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.march {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.april {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.may {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.june {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.july {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.august {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.september {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.october {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.november {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.december {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.month2 {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
._0 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._1 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._3 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._4 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._5 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._6 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._7 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._8 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._9 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._10 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._11 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._12 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._13 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._14 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._15 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._16 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._17 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._18 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._19 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._20 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._21 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._22 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._23 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._24 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._25 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._26 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._27 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._28 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._29 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._30 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
._31 {
  color: #000000;
  text-align: center;
  font-family: "Urbanist Regular", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  padding: 0px 64px 15px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
  outline: #d9d9d9 solid .2em;
  outline-offset: -.2em;
}
.line {
  background-image:
  linear-gradient(#000 .1em, transparent .1em); 
  background-size: 100% 1.5em;
  height: 100%;
  width: 100%;
}
.line-12 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-13 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-14 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-15 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-16 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-17 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-18 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-19 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-20 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-21 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-9 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.line-10 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.from-nolan-sorrento {
  color: #000000;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.to-ioi-board-of-executives {
  color: #000000;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.it-is-clear-that-these-egg-hunters-are-our-only-way {
  color: #000000;
  text-align: left;
  font-family: "Jetbrains Mono", sans-serif;
  font-size: 16px;
  line-height: 207.13%;
  font-weight: 400;
  position: absolute;
  left: 64px;
  top: 2px;
  width: 494px;
  height: 22px;
}
.we-are-going-to-get-to-the-egg-we-need-to-capture {
  color: #000000;
  text-align: left;
  font-family: "Jetbrains Mono", sans-serif;
  font-size: 16px;
  line-height: 207.13%;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: calc(2px + 1.5em);
  width: 494px;
  height: 22px;
}
.them-parsival-has-too-much-of-a-following-we {
  color: #000000;
  text-align: left;
  font-family: "Jetbrains Mono", sans-serif;
  font-size: 16px;
  line-height: 207.13%;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: calc(2px + 1.5em * 2);
  width: 494px;
  height: 22px;
}
.can-t-endanger-that-but-art-3-mis-and-shoto-we-can {
  color: #000000;
  text-align: left;
  font-family: "Jetbrains Mono", sans-serif;
  font-size: 16px;
  line-height: 207.13%;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: calc(2px + 1.5em * 3);
  width: 494px;
  height: 22px;
}
.we-need-them-captured-and-brought-here-once-we {
  color: #000000;
  text-align: left;
  font-family: "Jetbrains Mono", sans-serif;
  font-size: 16px;
  line-height: 207.13%;
  font-weight: 400;
  position: absolute;
  left: 64px;
  top: calc(2px + 1.5em * 4);
  width: 494px;
  height: 22px;
}
.have-them-get-the-egg-they-would-be-disposed-of {
  color: #000000;
  text-align: left;
  font-family: "Jetbrains Mono", sans-serif;
  font-size: 16px;
  line-height: 207.13%;
  font-weight: 400;
  position: absolute;
  left: 64px;
  top: calc(2px + 1.5em * 5);
  width: 494px;
  height: 22px;
}
.any-objections {
  color: #000000;
  text-align: left;
  font-family: "Jetbrains Mono", sans-serif;
  font-size: 16px;
  line-height: 207.13%;
  font-weight: 400;
  position: absolute;
  left: 65px;
  top: calc(2px + 1.5em * 7);
  width: 494px;
  height: 22px;
}
.frame-12 {
  background: #000000;
  padding: 17px 64px 17px 64px;
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
._101-ioi-plaza-columbus-ohio-380-641-7335 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.outpace-outshine-outsmart {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
